<div class="home-container" [ngClass]="{ 'dark-theme': themeService.isDark(), 'light-theme': !themeService.isDark() }">
  <div class="flex">
    <div class="search-bar">
      <input
        [(ngModel)]="searchFilter"
        type="text"
        placeholder="Search For a Country..."
        id="search"
        name="search"
        [ngClass]="{ 'dark-theme': themeService.isDark(), 'light-theme': !themeService.isDark()}"
      />
    </div>
    <app-select [options]="regionOptions()" [(value)]="regionFilter" class="select"/>
  </div>

  <div class="grid-container">
    @for (country of filteredCountries; track country.name.common) {
    <app-home-card
      [routerLink]="['/', country.name.common]"
      [name]="country.name.common"
      [population]="country.population"
      [region]="country.region"
      [capital]="country.capital"
      [flag]="country.flags.png"
    />
    }
  </div>
</div>
