<div class="details-container">
    <button (click)="goBack()">
      <img src="/assets/leftArrowIcon.png" alt="" class="backArrow" /> <span class="backText">Back</span>
    </button>
  <div class="card-container">
    <div class="left-side">
      <img [src]="image()" [alt]="alt()" class="flag" />
    </div>
    <div class="right-side">
      <h1>{{ name() }}</h1>
      <ul>
        <li>
          <span class="bold-list">Native Name(s):</span
          >&nbsp;{{ displayNativeName(nativeName()) }}
        </li>
        <li>
          <span class="bold-list">Population:</span
          >&nbsp;{{ population() | formatBigNumbers }}
        </li>
        <li><span class="bold-list">Region:</span>&nbsp;{{ region() }}</li>
        <li><span class="bold-list">Subregion:</span>&nbsp;{{ subregion() }}</li>
        <li><span class="bold-list">Capital:</span>&nbsp;{{ capital() }}</li>
        <li>
          <span class="bold-list">Top Level Domain:</span>&nbsp;{{ topLevelDomain() }}
        </li>
        <li>
          <span class="bold-list">Currencies:</span
          >&nbsp;{{ displayCurrencies(currencies()) }}
        </li>
        <li>
          <span class="bold-list">Language(s):</span
          >&nbsp;{{ displayLanguages(languages()) }}
        </li>
      </ul>
    </div>
  </div>
</div>
